.roles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  text-align: center; 
  margin: 2rem 2rem;
}

.roles-grid div {
  background-color: #cbd8df;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.roles-grid ul {
  list-style-type: none; 
  padding: 0;
}

.roles-grid li {
  padding: 0.5rem;
  color: var(--color-primary);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0.5rem 2rem 0 2rem
}

.grid-item {
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  color: #fff;;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
  padding: 1rem;
}

.grid-item.gray {
  background-color: #ccc;
}

.grid-item:hover {
  background-color: rgba(47, 137, 127, 0.8);
}

.grid-item h2{
display: inline;
font-size: 2rem;
justify-content: center;
width: 100%;
color: #fff;
}

.grid-item p {
  font-size: 1.5rem;
  color: #fff;;
}

.grid-item.story{
  background-color: #6d9f9d;
}

.add-button span {
  display: inline-block;
  transition: transform 0.7s ease;
}

.add-button span.rotated {
  transform: rotate(45deg);
}

.add-button.selected{
  background-color: var(--color-accent);
}

.project-description-container {
  display: flex;
  justify-content: center;
}

.project-description {
  max-width: 700px;
  font-size: 1.3rem;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-with-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-with-button h2 {
  margin: 0;
  margin-bottom: 2rem;
}

.add-button {
  position: absolute;
  right: 0;
}

.add-button.selected {
  background-color: var(--color-accent);
}

.add-button span.rotated {
  transform: rotate(45deg);
}