

.responsive-table-container-sprints .responsive-table td {
    width: 200px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
  }
  .responsive-table-container-sprints .responsive-table th{
    width: 200px;
    height: 100%;
    text-align: center;
    vertical-align: middle;

}

.responsive-table-container3 {
    width: 100%;
    overflow-x: auto;
}

.responsive-table-container3 .responsive-table {
    width: 100%;
    table-layout: fixed;
}

.responsive-table-container3 .responsive-table th,
.responsive-table-container3 .responsive-table td {
    vertical-align: middle;
    padding: 1rem;
}

.responsive-table-container3 .responsive-table th:nth-child(1),
.responsive-table-container3 .responsive-table td:nth-child(1) {
    text-align: center;
    width: 5%;
}

.responsive-table-container3.responsive-table th:nth-child(2),
.responsive-table-container3 .responsive-table td:nth-child(2) {
    text-align: left;
    width: 95%;
}

.userStory {
    display: flex; 
    flex-direction: column;
    background-color: var(--color-secondary);
    height: 100%;
    padding: 2rem 2rem 2rem 2rem; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);  
}

.userStory p, 
.userStory h2{
    display: block;
    margin: 0.5rem 0;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.userStory h2{
    font-size: 2rem;

}

.plus-button {
    display: flex;  /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Give it a fixed width */
    height: 100%; /* Give it a fixed height */
    margin: auto; /* Center in its parent */
    background-color: var(--color-primary);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border-radius: var(--border-radius); /* Makes it a perfect circle */
    cursor: pointer;
}


.plus-button:hover {
    background-color: #0056b3;
}

.userStory.plus-button.selected{
    background-color: var(--color-accent);
}

.userStory.plus-button.selected span{
    transition: transform 0.7s ease;
    transform: rotate(45deg);
}