.card {
  border: 1px solid var(--color-borders);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  width: 350px;
  height: 14rem; /* Fixed height for the card */
  position: relative; /* For positioning the footer */
}

.card p,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  text-align: left;
  margin: 0.5rem 0 0 0;
}

.card--no-role {
  height: 12rem; /* Adjust this value as needed */
}

.card--box {
  padding: 1.5rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(8, 36, 71, 0.1);
}

.card--header {
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

.card--header--left {
  text-align: left;
  width: 100%; /* Ensure title is always left-aligned */
}

.card--title {
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;  
  width: 100%;
  white-space: nowrap; /* Prevent title from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if title is too long */
}

/* Add this for the description */
.card--description {
  text-align: left;
  margin: 0 0 1rem 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Adjust based on your font size */
  height: 3em; /* Fixed height for description */
}

.card--extra {
  font-size: 1em;
  margin-top: 20px;
  text-align: left;
  position: absolute;
  bottom: 20px; /* Position at the bottom of the card */
  left: 20px; /* Align with the card padding */
  right: 20px; /* Align with the card padding */
}


.card--extra p {
  padding-top: 0.5rem;
}

/* Color schemes */
.card--default,
.card--default p,
.card--default h1,
.card--default .card--description
{
  background-color: #fff;
  color: var(--color-primary);
}

.card--primary,
.card--primary p,
.card--primary h1,
.card--primary h2,
.card--primary .card--description{
  background-color: var(--color-primary);
  color: #fff;
  border: 0;
}

.card--secondary,
.card--secondary p,
.card--secondary h1,
.card--secondary h2,
.card--secondary .card--description{
  background-color: var(--color-secondary);
  color: #fff;
  border: 0;
}

.card--accent {
  background-color: var(--color-accent);
  color: #fff;
  border: 0;
}