.card {
    border: 1px solid var( --color-borders);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: inline-block;
    width: 350px;
  }
  .card--box{
    padding: 1.5rem;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card--header{
    margin-bottom: 1rem;
    display: flex;
    position: relative;
  }
  .card--header--left{
    text-align: left;
  }
  .card--title {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  .card--status {
    position: absolute;
    right: 0px;
    font-size: 1.1rem;
    border-radius:19px ;
    background-color: var( --color-secondary);
    color: var(--color-bg-light);
    padding: 0.5rem 1rem;
  }
  
  .card--date{
    color: var(--color-bg-dark);
    text-align: left;
    margin: 0 0 1rem 0;
    padding: 0;
  }
  .card--team {
    font-size: 1em;
    margin-top: 20px;
    text-align: left;
  }
  
  .card--team ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card__team li {
    /* margin: 5px 0; */
  }
  
  .card__date {
    color: #555;
  }

.card--footer{
    /* position: absolute;
    bottom: 10px; */
    text-align: left;
    margin: 0;
    padding: 0;
  }
  