.list{
    list-style: none;
    padding: 0;
    width: 300px;

    color:#fff;
}
.list--inline .list__item{
    display: inline-block;
    margin-right: 1rem;
}
.list--inline  .list__link{
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width:1024px) {
   .list__item{
        padding-left: 0;

    }
}